<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Chat</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/xuly.js"></script>
    <link rel="stylesheet" href="./css/layout.css">
</head>

<body>
    <input type="text" name="" id="txtRoom">
    <input type="button" value="Tao Room" id="btnTaoRoom">
    <div id="left">
        <h3>ROOMS DAG CO</h3>
        <div id="dsRoom"></div>
    </div>
    <h4 id="roomHienTai">...</h4>
    <div id="right">

    </div>
    <input type="text" id="txtMessage">
    <input type="button" id="btnChat" value="Chat">
</body>

</html>