body{
    background-color: yellow;
    margin: auto;
}
#roomHienTai{
    width: 600px;
}
#txtUserName{
    background-color: transparent;
    border: solid 1px black;
}
#left{
    width: 20%;
    float: left;
    border: solid 1px pink;
}
#right{
    width: 80%;
    float: right;
    background-color: #d4f9f8;
}
#boxTitle{
    border: solid 1px black;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}
#boxContent{
    border: solid 1px black;
    border-top: none;
    padding: 5px;
    text-align: center;
}
#sayHi{
    text-align: right;
}
#listMessages{
    height: 200px;
    background-color: #fcead4;
    margin-bottom: 15px;
}
txtMessage{
    background-color: transparent;
    border: solid 1px black;
}